<h2>
	{{title  | makeUppercase}} <!-- Example of a filter -->
</h2>

<p>
	This is WEB Portal of my ESP records systerm, Backstage management! You can use it to quickly add records into database, to finish your work.

</p>
<p>
	Enjoy your jouney life!
</p>
<div>
    <h1 class="title">ESP Records:</h1>
    <div class="row">
		<div class="col-lg-4 col-md-5 col-sm-6">
			<div class="input-group">
			  <input type="text" ng-model="keywords" class="form-control" placeholder="Search for...">
			  <span class="input-group-btn">
			    <button class="btn btn-primary" role="button" ng-click="search()">Go!</button>
			  </span>
			</div><!-- /input-group -->
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4 col-md-5 col-sm-6">
			<span class="btn btn-primary" role="button" ui-sref="operation">Add Record</span>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->

	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr><th>图片</th><th>名称</th><th>描述</th><th>操作</th></tr>
		</thead>
		<tbody id="homeTbody" ng-repeat="i in records">
			<td>{{i._source.picture}}</td>
			<td>{{i._source.name}}</td>
			<td>{{i._source.description}}</td>
			<td>
				<button type="button" class="btn btn-default btn" ng-click="modifyRecord(i._id);"><i class="glyphicon glyphicon-pencil"></i></button>  
				<button type="button" class="btn btn-default btn" ng-click="deleteRecord(i._id,$index);"><i class="glyphicon glyphicon-trash"></i></button>
			</td>
		</tbody>
	</table>
</div>